/*body:hover {
    opacity: 1;
}*/
/**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d3d0d0;
}

h1 {
    color: rgb(255, 0, 128);
    border: 3px solid green;
    font-size: 32px;
    text-align: center;
}
